body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 18px;
  	line-height: 34px;
	background-color: #ffffff;
	background-image: url("../images/skyscraper.png");
}


h1 {
	font-size: 90%;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
h2,
h3 {
	color: #4aaaa5;
	font-weight: bold;
	font-family: "Georgia", Times, Times, serif;
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
    margin-bottom: 15px;

}

.navbar-default .navbar-brand:hover {
    color: inherit; 
    background-color: #4aaaa5; 
}

h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
  font-size: 22px;
}

.navbar {
	color: #fff;
	background: #fff;
	border-bottom: 2px solid grey;
}

.panel-heading {
	border-bottom: 0 none;
}

.panel {
	border: 1px solid grey;
}

.panel-body {
	margin-top: -20px;
}

.navbar-default .navbar-brand {
    color: #fff; 

}

.navbar-brand {
	width: 250px;
	height: 90px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 90px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #4aaaa5;
	padding: 0;
}

.portfolio img {
	margin: 10px auto;
}

.portfolio .row {
	margin-top: 10px;
}

#bio-image {
	
 	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;
}

.main,
.side {
	margin-bottom: 50px;
	margin-top: 120px;
}

.sidebody img {
	margin-right: 20px;
}

#stackoverflow-img {
	margin-right: 0;
}

label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  	font-size: 18px;
  	line-height: 34px;
  	font-weight: normal;
}

.btn-default {
    color: white;
    background-color: #4aaaa5;
    border-color: #ccc;
}

.footer {
	padding: 10px;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	width: 100%;
	text-align: center;
	color: white;
	bottom: 0;
}

@media (min-width: 768px) {
	.navbar-nav {
   		padding-top: 20px;
}
}